<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MySE</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
  <div class="container">
    <h1 style="text-align:center">MySE</h1>
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." name="q" value="{{query}}">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Search</button>
        </span>
      </div>
    </form>
    <hr>
    <div class="panel panel-primary">
      <div class="panel-heading">Result count: {{ len }}</div>
      <div class="panel-body">
        {% for item in result %}
          <div>
            <a target='_blank' href='http://stackoverflow.com/questions/{{item}}'>{{ item }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

</html>
